@page
@model BrickHouse.Pages.CartModel
@{
    ViewData["Title"] = "Your Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />

<div class="cart-container">
    <h3 class="cart-header">YOUR CART</h3>

    <div class="row justify-content-center">
        <div class="col-lg-8">
            <table class="table table-bordered table-striped cart-table">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th class="text-right">Amount</th>
                        <th class="text-right">Subtotal</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var l in Model.Cart?.Lines ?? Enumerable.Empty<Cart.CartLine>())
                    {
                        <tr>
                            <td>@l.Product.Name</td>
                            <td class="text-center">@l.Quantity</td>
                            <td class="text-right">$@l.Product.Price</td>
                            <td class="text-right">@((l.Quantity * l.Product.Price).ToString("c"))</td>
                            <td class="text-center">
                                <form asp-page-handler="Remove" method="post">
                                    <input type="hidden" name="ProductId" value="@l.Product.ProductId" />
                                    <input type="hidden" name="returnUrl" value="@Model?.ReturnUrl" />
                                    <button class="btn cart-btn-remove btn-sm">
                                        Remove from Cart
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr class="cart-total-row">
                        <td colspan="3" class="text-right">Total:</td>
                        <td class="text-right">@Model.Cart?.CalculateTotal().ToString("c")</td>
                    </tr>
                </tfoot>
            </table>

            <div class="text-center my-4">
                <a class="btn cart-btn-continue me-2" asp-controller="Home" asp-action="ProductPage">Continue Browsing</a>
                <a class="btn cart-btn-checkout" asp-controller="Home" asp-action="Checkout">Checkout</a>
            </div>
        </div>
    </div>
</div>


