@page
@model BrickHouse.Pages.CartModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml"; // This sets the layout for this view
}

<br /><br /> <br />
<h3 style="color: #ec5a53; font-weight: bold; font-family: 'Poppins', sans-serif;">    YOUR CART</h3>

<table class=" table table-borderd table-striped">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th class="text-right">Amount</th>
            <th class="text-right">Subtotal</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var l in Model.Cart?.Lines ?? Enumerable.Empty<Cart.CartLine>())
        {
            <tr>
                <td class="text-left">@l.Product.Name</td>
                <td class="text-center">@l.Quantity</td>
                <td class="text-right">$@l.Product.Price</td>
                <td class="text-right">@((l.Quantity * l.Product.Price).ToString("c"))</td>
                <td class="text-center">
                    <form asp-page-handler="Remove" method="post">
                        <input type="hidden" name="ProductId" value="@l.Product.ProductId" />
                        <input type="hidden" name="returnUrl" value="@Model?.ReturnUrl" />
                        <button class="btn btn-sm btn-danger">
                            Remove from Cart
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">@Model.Cart?.CalculateTotal().ToString("c")</td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-oval me-2" role="button" asp-controller="Home" asp-action="ProductPage">Continue Browsing</a>
    <a class="btn btn-oval-checkout" role="button" asp-controller="Home" asp-action="Checkout">Checkout</a>
    @* <a class="btn btn-primary" asp-page="/CheckoutCart">Go to Cart</a> *@

</div>
