@*
    For more information on enabling MVC for empty Products, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@* @model BrickHouse.Models.ViewModels.ProductRecommendationViewModel

<h2>Product Recommendations</h2>

@foreach (var recommendation in Model.ProductRecommendations)
{
    <div>
        <ul>
            <li>Recommendation ID: @recommendation.ProductId</li>
            <li>Rec1: @Model.ProductNames.ElementAtOrDefault(0)</li>
            <li>Rec2: @Model.ProductNames.ElementAtOrDefault(1)</li>
            <li>Rec3: @Model.ProductNames.ElementAtOrDefault(2)</li>
            <li>Rec4: @Model.ProductNames.ElementAtOrDefault(3)</li>
            <li>Rec5: @Model.ProductNames.ElementAtOrDefault(4)</li>
        </ul>
    </div>
} *@


@model BrickHouse.Models.ViewModels.ProductRecommendationViewModel

<h2>Product Recommendations</h2>

@foreach (var recommendationIndex in Enumerable.Range(0, Model.ProductRecommendations.Count()))
{
    var recommendation = Model.ProductRecommendations.ElementAtOrDefault(recommendationIndex);
    var productNames = Model.ProductNames.ElementAtOrDefault(recommendationIndex) ?? new List<string>();

    <div>
        <ul>
            <li>Recommendation ID: @recommendation.ProductId</li>
            @for (int i = 0; i < productNames.Count(); i++)
            {
                <li>Rec@(i + 1): @productNames.ElementAtOrDefault(i)</li>
            }
        </ul>
    </div>
}





